.navbar {
  position: fixed;
}

.home {
  text-align: center;
  background-color: #292929;
  color: aliceblue;
}
/* .home h1 {
  font-family: 'Fed Pig Sans';
} */

.nav{
  background-color: hsl(0, 0%, 5%);
}
.nav-link {
  border: 1px solid black;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #292929;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-nav {
  position: relative;
}

.nav-item {
  margin: 0 10px;
}


.tooltip-bar {
  position: absolute;
  height: 3px;
  width: 7%;
  background-color: red;
  bottom: 0;
  left: 12%;
  transition: all ease-in-out 0.5s;
}

.contactPage {
  width: 600px; /* Adjust width as needed */
  margin: 50px auto; /* Center the form horizontally */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact h1 {
  text-align: center;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.formGroup textarea {
  height: 100px; /* Adjust height as needed */
}

.contact button {
  background-color: #4CAF50; /* Green color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #3e8e41; /* Darker green on hover */
}

.success-message,
.error-message {
  padding: 10px;
  border-radius: 3px;
  margin-top: 10px;
}

.success-message {
  background-color: #dff0d8;
  color: #468847;
}

.error-message {
  background-color: #f2dede;
  color: #a94442;
}


.about-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start; 
  justify-content: flex-start; 
  padding: 20px; 
  background-color: #f8f9fa; 
  color: #333; 
  max-width: 800px;
  margin: 20px auto; 
  top: 20px;
  left: 20px;
}

.about-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: left; /* Title aligned to the left */
}

.about-description {
  font-size: 1.2rem;
  margin: 10px 0;
  line-height: 1.6; /* Improve readability */
}

.tagline {
  font-size: 1.5rem;
  font-weight: bold;
  color: #d9534f; /* Example color for the tagline */
  margin-top: 30px;
}


